


/* share styel */
/* dark 3 */
.dark-3{
    color: #727272;
}
/* dark 2 */
.dark-2{
    color: #424242;
}
.primary-btn{
    font-size: 2rem;
    padding: 20px;
    border-radius: 8%;
    margin: 10px;
    background: linear-gradient(to right, #ffea00, #ff007f, #8f00ff);
}

.primary-btn:hover{
    transform: scale(1.3);
    transition: 2s;
}
body{
    
background-image: linear-gradient(to bottom, #1c1252, #05101d);
}
.card-p{
    color:wheat;
}


   header{
    background-image: url(./img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 20%;
    
   }
header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex; 
    justify-content: space-between;
}
ul a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
}
.navbar h3{
    font-size: 3rem;
}
.nav-link{
    display: flex;
    margin-right: 12.5rem;
}
.nav-item{
    align-items: center;
    display: flex;
    font-size: 1rem;
    margin-right: 2rem;
    text-align: center;
}
span , hr{
    color:rgb(50, 50, 128);
    background-color: 
}
hr{
    margin-bottom: 65%;
    color: rgb(40, 105, 9);
  
}
.btn-2{
    border: 2px solid #00FF88;
    border-radius: 50px;
    padding: 20px; 
     margin: 20px;
     font-size: 3rem;
}
.btn-2:hover{
    transform: scale(1.3);
    transition: 2s;
}

.container-head{
    margin: 2% 39%;
   
}
.container-img img{
   width: 130%;
    position: relative;
    right: 20%;
    top: -550px;
    margin-top: -450%;

   
}
.container-ralative img{
    position:relative;
    top: -1220px;
    left: -35%;
    width: 60%;
    margin: 50%;
    
}
.container-text{
    margin-top: -250%;
    width: 900px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left:-290px ;
}

  .btn{
    position: relative;
    left: 80%;
    font-size:3em ;
    background-color: #00FF88;
   border-top-left-radius: 40%;
   border-bottom-left-radius: 40%;
   border-top-right-radius: 40%;
   border-bottom-right-radius: 40%;
   padding: 10px;
   top:-115rem ;
}
.tec-content{
    font-size: 3rem;
    margin-top: -5%;
}

/* main */

#about-container{
background-image: linear-gradient(to bottom, #1c1252, #05101d);

}
.container-main{
   max-width: 1440px;
   margin: 0 auto;
   color: white;

}
.container-about{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    
}
.container-about p{
    color: wheat;
    padding: 2px;
    font-size: 20px;
}
.container-about h1{
    font-size: 3rem;
    margin: 5%;
    margin: 0%;
    padding: 0%;
}
.container-about p{
    margin: 1%;
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin-top: -60%;
}
.item-grid h1{
    font-size: 3rem;
    color:#ffea00 ;
}

#grid-info{
  background-image: linear-gradient(to bottom, #1c1252, #05101d);

}
.grid-title h3 , 
.host-title h3{
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 20px;
    margin: 20px;

}
.grid-container{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 auto;
    
}
.grid-container h5{
    font-size: 2em;
    color: white;
}

.grid-item1 ,
.grid-iframe1 ,
.grid-iframe2 ,
.grid-iframe3 {
    background-color: rgb(61, 20, 99);
    padding: 20px;
    grid-row: span 2;
    border: 9px solid rgb(75, 6, 63) ;
    border-radius: 30px;
    box-shadow: 0 34px 94px 0 blueviolet;
}
.grid-item2{
     background-color: rgb(61, 20, 99);
    padding: 20px;
    grid-column: span 2;
    border: 9px solid rgb(75, 6, 63) ;
    border-radius: 30px;
    box-shadow: 0 34px 94px 0 blueviolet;
}
.grid-item3{
     background-color: rgb(61, 20, 99);
    padding: 20px;
       grid-column: span 2;
       border: 9px solid rgb(75, 6, 63) ;
    border-radius: 30px;
    box-shadow: 0 34px 94px 0 blueviolet;
}
.grid-item4{
     background-color: rgb(61, 20, 99);
    padding: 20px;
   grid-column: span 2;
   border: 9px solid rgb(75, 6, 63) ;
    border-radius: 30px;
    box-shadow: 0 34px 94px 0 blueviolet;
}
.grid-item5{
     background-color: rgb(61, 20, 99);
    padding: 20px;
    border: 9px solid rgb(75, 6, 63) ;
    border-radius: 30px;
    box-shadow: 0 34px 94px 0 blueviolet;
}

#grid-container-iframe{
    max-width: 1440px;
    margin: 0 auto;
}

#grid-container-iframe iframe{
    width: 400px;
    border: 2px solid skyblue;
    border-radius: 20px;
    box-shadow: 0 34px 90px 0px blueviolet;
}
#grid-container-iframe span{
    color: #00FF88;
}

.host-title{
    margin-top: 15%;
}

.host-info{
    margin-top: 10%;
    display: flex;
    gap: 2rem;
    background-color: rgb(61, 20, 99);
    padding: 4rem;
    border-radius: 2rem;
}
.host-info-title h4{
    font-size: 3rem;
    color: white;
}
.host-info-title p{
    font-size: 1.5rem;
}
.contac img{
    border: 2px solid wheat;
    border-radius: 50%;
    padding: 10px;
    font-size: 70px;
}

footer{
    background-image: url(./img/footer-bg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
   padding: 25%;
   margin-top: 20%;
}

.footer-container{
    text-align: center;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    font-size: 20px;
    margin: 50px;
}
.footer-grid span {
    color: wheat;
}
.footer-title h1{
    color: white;
    font-size: 3rem;
}
footer small{
    color: wheat;
    text-align: center;
    margin-left: 40%;
}




/* small device */
@media screen and (max-width:576px) {
 header{
    background-size: 100%;
 }
   ul{
    display: none;
   }
   .navbar h3{
    font-size: 1rem;
}
.container-img img{
   width: 150%;
    position: relative;
    right: 45%;
    top: -100px;
}
.container-ralative img{
    position:relative;
    top: -290px;
    left: -50%;
    width: 60%;
}
.tec-content{
    font-size: 1rem;
}
.container-text{
    text-align: center;
    width: 650px
}
.btn-2{
    font-size: 1rem;
    padding: 3px;
    margin: 6px;
    left: 30%;
}
.pag{
    width: 300px;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
}
.primary-btn{
    font-size: 1rem;
    padding: 3px;
    margin: 6px;
    left: -99px;
}
 .container-about{
        width: 400px;
    }
    .container-about h1{
        font-size: 2rem;
        margin: 5%;
    }
    .container-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    text-align: center;
    gap: 50px;
    margin: 0 auto;
    margin-top: -60%;
}
.item-grid h1{
    font-size: 2rem;
}

.grid-title h3{
    font-size: 2em;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 2rem;
    margin: 10px;
    padding: 10px;
    
}
#grid-container-iframe iframe{
    width: 400px;
    
}
.host-info{
    display: block;
    text-align: center;
    background-size: 100%;
}
.host-info-title h4{
    font-size: 2rem;
}
.host-info-title p{
    font-size: 1rem;
}

footer{
    background-size: cover;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    font-size: 0.6rem;
    gap: 20px;
}
.footer-title h1 {
 font-size: 1rem;
}
footer small{
    font-size: 0.8rem;
    width: 100%;
}

}

/* largest device responsive */

@media screen and (min-width:992px) {
    .navbar{
        width: 100%;
        justify-content: space-between;
    }
    header{
       background-size: cover;
       background-position: center;
        border-radius: 0%;
        
    }
    .nav-item{
        margin-right: 0rem;
    }
    .navbar h3{
        font-size: 2rem;
    }
    .primary-btn{
        font-size: 1rem;
        padding: 10px;
        margin: 5px;
    }
  
  
}

